
body{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center; 
    
}

button{
    background-color: ;
    border: none;
    width: 50px;
    height: 50px;
    border: 1px black solid;   
    border-radius: 4px;
    margin: 1px; 
    
}

button:hover{
    background-color: whitesmoke;
}

#allButtons{
    display: flex;
    flex-flow: column; 
}

.buttonRow{
    display: flex;
    flex-flow: row; 
}

.top{
    justify-content: space-between;
}

.calculator{
    display: flex;
    flex-flow: column;
    background-color: darkgray;
    width: 200px;
    height: auto;
    padding: 20px;
    justify-content: space-between;
    border-radius: 4px;
    border: black 1px solid;
    }

.screen{
    display: flex;
    flex-flow: column;
    background-color: ;
    color: black;    
    flex-grow: .25;
    align-items: flex-end;
    font-size: 24px;    
    margin-bottom: 10px;
    height: 60px;
    border:  inset 2px black;
    font-family: 'Courier New', Courier, monospace;
}

.formulaScreen{
    padding: 5px;
    font-size: 12px;
    padding-right: 2px;
}

.numberScreen{
    padding-right: 2px;
    font: 24px;
}

.number.zero{
    width: 100px;
}

