@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center; 
    background-color: lightgray;
    
}

button{
    background-color: #d8d7dc;
    border: none;
    width: 50px;
    height: 50px;
    border: 1px black solid;   
    border-radius: 4px;
    margin: 1px;
    cursor: pointer;
    font-size: 16px;     
}


button:active {
    background-color: #747473;
    transform: translateY(1px);
}

#allButtons{
    display: flex;
    flex-flow: column; 
}

.buttonRow{
    display: flex;
    flex-flow: row; 
}

.top{
    justify-content: space-between;
}

.calculator{
    display: flex;
    flex-flow: column;
    background-color: #313746;
    width: 200px;
    height: auto;
    padding: 20px;
    margin-top: 100px;
    justify-content: space-between;
    border-radius: 6px;
    border: black 1px solid;
    }

.screen{
    display: flex;
    flex-flow: column;
    background-color: #4b5807;
    color: #151d07;    
    flex-grow: .25;
    align-items: flex-end;
    font-size: 36px;    
    margin-bottom: 10px;
    height: 60px;
    border:  inset 2px black;
    font-family: 'Orbitron', sans-serif;
}

.formulaScreen{
    margin-right: 5px;
    font-size: 12px;
    padding-right: 2px;
}

.numberScreen{
    margin-right: 5px;
    margin-left: 10px;
    font: 24px;
}

.number.zero{
    width: 100px;
}

