@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

body{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center; 
    background-color: lightgray;
    
}

button{
    background-color: #d8d7dc;
    border: none;
    width: 75px;
    height: 75px;
    border: 1px black solid;   
    border-radius: 4px;
    margin: 1px;
    cursor: pointer;
    font-size: 24px; 
    font-family: 'Open Sans', sans-serif;    
}


button:active {
    background-color: #747473;
    transform: translateY(1px);
}

#buttonGrid{
    display: flex;
    flex-flow: column;
    align-items: center; 
}

.buttonRow{
    display: flex;
    flex-flow: row; 
}

.number.zero{
    width: 152px; /* 2 extra pixels for gap */
}

.symbol{
    background-color: #ffd480;
}

.equals{
    background-color: #3b4245;
    color: white;
}

.calculator{
    display: flex;
    flex-flow: column;
    background-color: #313746;
    width: 320px;
    height: auto;
    padding: 20px;
    margin-top: 100px;
    justify-content: space-between;
    border-radius: 6px;
    border: black 1px solid;
    }

.screen{
    display: flex;
    flex-flow: column;
    background-color: #4b5807;
    color: #151d07;       
    align-items: flex-end;
    font-size: 46px;    
    margin-top: 20px;
    height: 95px;
    width: 300px;
    align-self: center;
    border:  inset 5px black;
    font-family: 'Orbitron', sans-serif;
}

.formulaScreen{
    margin-right: 5px;
    font-size: 20px;
    padding-right: 2px;
}

.numberScreen{
    margin-right: 5px;
    margin-left: 10px;
    font: 36px;
}

.middle{
    display: flex;
    flex: row;
    justify-content: space-between;
    margin: 8px;
    margin-left: 10px;
    margin-right: 10px;
}

.solar{
    display: flex;
    flex: row;
    background-color: black;
    height: 40px;
    width: 120px;
    border:  inset 2px black;
}

.solarpanel{
    border: grey solid 1px;
    height: auto;
    width: auto;
    flex-basis: 100%;

}

.logo{
    align-self: center;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin-left: 15px;   
    
}